@charset "UTF-8";
@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url('fonts/Montserrat-Regular.ttf')  format('truetype');
	}

	/*
	Name: Anthony Coragliotti
	Date: 2019 MAR 03
	Assignment: Project V1 - Basic HTML and CSS
	Purpose: To showcase my internalization of HTML & CSS modules 7, 8 & 9
	*/

/*	_______________________________________
		TABLE OF CONTENTS		
	=======================================

	 RESETS
	 GLOBAL STRUCTURE
	   -Containers
	 BANNER
	 NAVIGATION MENU
	  Menu(Global)
		-Desktops
		-Laptops
		-Tablets
		-Phones
	 CONTENT (by page)
		-Page
		-Containers
		-Styles
*/

/*	_______________________________________
		RESETS			
	=======================================
*/
	/*  Structure */ html, head, body, footer,
	/*  Content   */ a, figure, figcaption, img,
	/*  Nav+Lists */ nav, dl, dt, dd, ol, ul, li,
	/*  Headers   */ header, h1, h2, h3, h4, h5, h6,
	/*  TextStyles*/ b, center, em, i, span, strike, strong, u,
	/*  Tables    */ table, caption, tbody, tfoot, thead, tr, th, td,
	/*  Containers*/ address, article, aside, blockquote, cite, div, section {
	  border: 				0;
	  font: 				inherit;
	  font-family: 				Montserrat;
	  font-size: 				100%;
	  list-style:				none;
  	  margin: 				0;
	  padding: 				0;
	  text-decoration:			none;
	  vertical-align: 			baseline;
	}

/*	_______________________________________
		GLOBAL PAGE STRUCTURE
	=======================================*/

	header {
	background-color: 			rgb(230,250,230);
	width: 					100%;
	}
	
	footer {
	  background-color: 			rgb(5,90,1);
	  bottom: 				0;
	  color: 				white;
	  font-family:				Montserrat;
	  font-size:				1.1em;
	  height: 				25px;
	  position: 				fixed;
	  text-align: 				center;
	  width: 				100%;
	}

/*	______________________
	Containers Global
	======================*/

	div.conPeri {
		background-color: 		rgb(230,250,230);
		border: 			15px solid rgb(5,90,1);
		border-top:			0;
		display: 			flex;
		align-items: 			center;
		flex-wrap: 			wrap;
		justify-content: 		center;
		margin: 			0;
	}

	div.conOuter {
		background-color: 		white;
		margin: 			0 10% 1.5% 10%;
	}

	div.conInner {
		display: 			block;
	}

/*	_______________________________________
		BANNER
	=======================================*/
	
	div.conBaner {
		background-color: 		rgb(230,250,230);
		width: 				100%;
	}

	img.img-baner {
		border-radius: 			100px 30px 100px 30px;
		height: 			auto;
		width: 				100%;
	}



/*	_______________________________________
		NAVIGATION MENU				
	=======================================
	MENU GLOBAL
	======================*/
	

		nav.flexMenu ul {
			padding: 		1%;
		}

/*	________________________________
	   == NAV LARGE LAPTOP/DESKTOPS ==
	================================
	VIEWPORT > 1000px WIDE
	======================*/

	 /* Media query on devices over 1000px */
	@media screen and (min-width: 1001px) {

	/* MECHANICS */

			/* Hide the menu burger! */
		a#burger {
			display: 		none;
		}

	/* STYLES */

			/* Menu - wrap */
		nav.flexMenu ul {
			display: 		flex;
			flex-flow: 		row wrap;
		}

			/* Menu List - color, size */
		nav.flexMenu ul li {			
			background-color: 	rgb(20,105,20);
			border-bottom: 		5px solid black;
			border-radius: 		100px 30px 100px 30px;

			flex-grow: 		1;
			flex-shrink: 		1;
			flex-basis: 		auto;
			padding: 		1%;
		}

			/* Menu Links - color, shape, size, position */
		nav.flexMenu li a,
		a:visited {
			color: 			white;
			display:		block;
			font-size:		150%;
			font-weight: 		bold;
			text-align: 		center;
		}

			/* Menu Hover - background to pretty pink!  */
		nav.flexMenu li:hover {
			background-color: 	rgb(20,200,10);
		}
			/* Menu Hover - text color to gold */
		nav.flexMenu li a:hover {
			color: 			rgb(248,213,73);
		}
	}
	
/*	________________________________
	   == NAV MOST LAPTOP/DESKTOPS ==
	================================
	VIEWPORT < 1000px WIDE
	======================*/

	 /* Media query on devices under 1000px */
	@media screen and (max-width: 1000px) {

	/* MECHANICS */

			/* Hide the menu burger! */
		a#burger {
			display: 		none;
		}
		
	/* STYLES */

			/* Menu - wrap */
		nav.flexMenu ul {
			display: 		flex;
			flex-flow: 		row wrap;
		}

			/* Menu List - color, effects, resizing */
		nav.flexMenu ul li {
			background-color: 	rgb(20,105,20);
			border-bottom: 		5px solid black;
			border-radius: 		100px 30px 100px 30px;
			flex-grow: 		1;
			flex-shrink: 		1;
			flex-basis: 		auto;
			padding: 		1%;
		}

			/* Menu Links - color, shape, size, position */
		nav.flexMenu li a,
		a:visited {
			display:		block;
			color: 			white;
			font-size:		110%;
			font-weight: 		bold;
			text-align: 		center;
		}

			/* Menu Hover - Background to pretty pink!  */
		nav.flexMenu li:hover {
			background-color: 	rgb(20,200,10);
		}

			/* Link Hover - text color to gold */
		nav.flexMenu li a:hover {
			color: 			rgb(248,213,73);
		}

	}
	
/*	________________________________
		== NAV MOST TABLETS ==
	================================
	VIEWPORT < 800px
	======================*/

	 /* Media query on devices over 800px */
	@media screen and (max-width: 800px) {

	/* MECHANICS */

			/* Hide the menu burger! */
		a#burger {
			display: 		none;
		}

			/* Menu mechanic for < 800px
				onHover burger: Display navigation menu.
				  Within the  HTML, the  anchor(id=burger)
				comes immediately after  the  nav(navMenu).
				  This  seemingly  arbitrary  placement  is
				a deliberate combo and  is VERY  important.
				  This tag sequence  allows  the use of the 
				"+" sign  to  combine  two  hover commands;
				resulting in the ability to move your mouse
				pointer  off of the icon,  onto  the  menu, 
				without the menu vanishing  (preserving the 
				sanity of your website visitors  -  as  you
				can imagine).

			/* Show menu list when hover over menu burger */
		a#burger:hover+ul, 
		nav.flexMenu ul:hover {
			display: 		block;
		}

	/* STYLES */

			/* Menu List - position, size */
		nav.flexMenu ul {
			display:		flex;

			flex-direction:		column;
			width: 			70%;
		}

			/* Menu List - resizing, color, effects */
		nav.flexMenu ul li {
			background-color: 	rgb(20,105,20);
			border-bottom: 		5px solid black;
			border-radius: 		200px 60px 200px 60px;
			padding: 		1%;
		}

			/* Menu Links - color, style, size, position */
		nav.flexMenu li a,
		a:visited {
			color:			white;
			display:		block;
			font-size:		150%;
			font-weight: 		bold;
			text-align: 		center;
		}

			/* Menu Hover - Background to pretty pink!  */
		nav.flexMenu li:hover {
			background-color: 	rgb(20,200,10);
		}

			/* Link Hover - Text to a more visible black  */
		nav.flexMenu li a:hover {
			color: 			black;
		}

	}

/*	________________________________
		== NAV MOST PHONES ==
	================================
	VIEWPORT < 480px WIDE
	======================*/


	/* MECHANICS */

			/* Media query - devices under 480px */
	@media screen and (max-width: 480px) {




			/* Break out the burger. Yum! */
		a#burger {
			display: 		block;
		}

			/* Hide menu (shhh...) */
		nav.flexMenu ul {
			display:		none;
		}

			/* Hover(burger) - Show menu */
		a#burger:hover+ul, nav.flexMenu ul:hover {
			display: 		block;
		}
		
	/* STYLES */
		
			/* Blend menu with background color(light green) */
		nav.flexMenu {
			background-color: 	rgb(230,250,230);
		}

			/* Menu List - color, effects */
		nav.flexMenu ul li {
			border-bottom: 		5px solid black;
			background-color: 	rgb(20,105,20);
			border-radius: 		200px 60px 200px 60px;
			padding: 		1%;
		}

			/* Menu Links - color, style, size, position */
		nav.flexMenu li a,
		a:visited {
			color:			white;
			display:		block;
			font-size:		1em;
			font-weight: 		bold;
			text-align: 		center;
		}

			/* Menu Hover - background set to bright green */
		nav.flexMenu li:hover {
			background-color: 	rgb(20,200,10);
		}

			/* Link Hover - text to a more visible black  */
		nav.flexMenu li a:hover {
			color: 			black;
		}

	}

/*	_______________________________________
		CONTENT STYLES (by page)			
	=======================================
	GLOBAL
	======================*/

	p {
		padding: 			0 1px 0 1px;
		text-align: 			justify;
	}

	h1 {
		display: 			block;
		font-size: 			2.3em;
		font-weight: 			bold;
		margin: 			0 0 3% 0;
		color: 				rgb(15,75,30);
		text-align: 		center;
	}

	h2 {
		display: 			block;
		font-size: 			1.7em;
		font-weight: 			bold;
		margin: 			1% 0 1% 0;
		color: 				rgb(20,105,20);
	}

	h3 {
		display: 			block;
		font-size: 			1.4em;
		font-weight: 			bold;
		margin: 			1% 0 1% 0;
		color: 				rgb(20,105,20);
	}
	
	h4 {
		display: 			block;
		font-size: 			1.1em;
		font-weight: 			bold;
		margin: 			1% 0 1% 0;
		color: 				rgb(20,105,20);
	}

	hr {
		margin: 			3%;
	}

	p.txtBgYella {
		background-color: 		rgb(255,255,220);
		border: 			1px solid green;
		border-radius: 			20px;
		padding: 			1.5%;
	}

	p.txtBgLiteGreen {
		background-color: 		rgb(250,255,250);
		border: 			1px solid green;
		border-radius: 			20px;
		padding: 			1.5%;
	}

/*	______________________
		  Index.html
	======================
	Containers
	==========*/

	div.home {
		display: 			block;
		padding: 			4%;
		border: 			2px solid green;
	}

/*  	======
	Styles
	======*/

	img.img-pat {
		display: 			inline-block;
		width: 				15%;
	}



/*	______________________
		  Writing.html
	======================
	Containers
	==========*/

	div.writing {
		display: 			block;
		padding: 			4%;
		border: 			2px solid green;
	}
	

/*	======
	Styles
	======*/



/*	______________________
		Stories.html
	======================
	Containers
	==========*/
	
	div.stories {
		display: 			block;
		padding: 			4%;
		border: 			2px solid green;
	}

/*	======
	Styles
	======*/



/*	______________________
		Inspiration.html
	======================
	Containers
	==========*/

	div.inspire {
		display: 			block;
		padding: 			4%;
		border: 			2px solid green;
	}

/*	======
	Styles
	======*/

	img.img-inky {
		display: 			inline-block;
		width: 				15%;
	}

/*	______________________
		About.html
	======================
	Containers
	==========*/

	div.about {
		display: 			block;
		padding: 			4%;
		border: 			2px solid green;
	}




/*	======
	Styles
	======*/



/* ========================================================

	Palette
	=======

	footer dark green
	rgb(5,90,1);
	
	new green bg
	rgb(230,250,230);
	
	menu dark green
	rgb(20,105,20);
	
	menu bright green
	rgb(20,200,10);
	
	text yellow
	rgb(255,255,220);

	text lite green
	rgb(250,255,250);


	THERE ARE MANY ENDINGS, BUT THIS ONE IS MINE.

   ========================================================*/